    .content{
        margin : 100px;
        min-height: 65vh;
    }

    .card{
        width: 350px;
        text-align: center;
        margin: 100px auto;
    }

    #title{
        color: cornflowerblue;
        font-size: 35px;
    }

    .page-title{
        text-align: center;
        margin: 30px;
        margin-left: 3vw;
    }

    form{
        margin : 100px;
        width: fit-content;
        border: 1px grey solid;
        border-radius: 8px;
        padding: 10px;
        margin-right: auto;
        margin-left: auto;
    }

    .input{
        display: flex;
        justify-content: space-between;
        margin: 10px;

    }

    input{
        margin-left: 10px;
    }

    .submit-button{
        display: flex;
        justify-content: center;
        margin: 15px;
    }
    .pagination{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        bottom :40px;
        width: 100%;
    }

    .pagination-info, .pagination-no{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .pagination-info div{
        margin: 5px;
        padding: 10px;
        border: 1px solid lightgrey;
    }

    .pagination-no div{
        margin: 5px;
        padding: 10px;
    }
    .pagination-no a{
        height: 50%;
        align-self: center;
        padding: 0 2px 4px 2px;
    }